<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body class="g-sidenav-show   bg-gray-100">
    <%- include('./partials/header'); %>
    <%- include(content, { data: data ,userType: userType ,status: status}); %> 


    <%- include('./partials/scripts'); %>   
</body>
</html>
