<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
  <div class="sidenav-header"  padding: 10px;>
    <div class="navbar-brand ms-lg-0 ms-0" style="font-size: 18px; font-weight: 700; color: rgb(0, 0, 0);">
      <!-- SVG design -->
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="27" height="27" fill="white"
          viewBox="0 0 172 172"
          style=" fill:#000000;">
          <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
          <path d="M0,172v-172h172v172z" fill="none"></path>
          <g fill="#000000">
            <path d="M86,13.76c-39.9961,0 -72.24,32.2439 -72.24,72.24c0,39.9961 32.2439,72.24 72.24,72.24c39.9961,0 72.24,-32.2439 72.24,-72.24c0,-39.9961 -32.2439,-72.24 -72.24,-72.24zM86,30.56c30.58925,0 55.44,24.85075 55.44,55.44c0,30.58925 -24.85075,55.44 -55.44,55.44c-30.58925,0 -55.44,-24.85075 -55.44,-55.44c0,-30.58925 24.85075,-55.44 55.44,-55.44zM86,57.46667c-15.73683,0 -28.53333,12.7965 -28.53333,28.53333c0,15.73683 12.7965,28.53333 28.53333,28.53333c15.73683,0 28.53333,-12.7965 28.53333,-28.53333c0,-15.73683 -12.7965,-28.53333 -28.53333,-28.53333z"></path>
          </g>
          </g>
      </svg>
      <!-- End of SVG design -->
      HaicaSecureEye
    </div>
  </div>
    <hr class="horizontal dark mt-0">
  
      <ul class="navbar-nav">


        <li class="nav-item">
          <a class="nav-link" href="/admins">
            <div class="icon icon-shape border-radius-md text-center me-2 d-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#5F64F5" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
                <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z"/>
              </svg>
            </div>
            <span class="nav-link-text ms-0" style="font-size: 16px;">Admins</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link " href="/signals">
            <div class="icon icon-shape border-radius-md text-center me-2 d-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#5F64F5" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
              </svg>
            </div>
            <span class="nav-link-text ms-0" style="font-size: 16px;">Signals</span>
          </a>
        </li>

        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">-----------------------------------------------</h6>
        </li>


      <li class="nav-item">
          <a class="nav-link " href="/logout">
            <div class="icon icon-shape border-radius-md text-center me-2 d-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#5F64F5" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
              </svg>
            </div>
            <span class="nav-link-text ms-0"style="font-size: 16px;">Log Out</span>
          </a>
        </li>
      </ul>
    
    
  </aside>