<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
  <div class="sidenav-header"  padding: 10px;>
    <div class="navbar-brand ms-lg-0 ms-0" style="font-size: 18px; font-weight: 700; color: rgb(0, 0, 0);">
      <!-- SVG design -->
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="27" height="27" fill="white"
          viewBox="0 0 172 172"
          style=" fill:#000000;">
          <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
          <path d="M0,172v-172h172v172z" fill="none"></path>
          <g fill="#000000">
            <path d="M86,13.76c-39.9961,0 -72.24,32.2439 -72.24,72.24c0,39.9961 32.2439,72.24 72.24,72.24c39.9961,0 72.24,-32.2439 72.24,-72.24c0,-39.9961 -32.2439,-72.24 -72.24,-72.24zM86,30.56c30.58925,0 55.44,24.85075 55.44,55.44c0,30.58925 -24.85075,55.44 -55.44,55.44c-30.58925,0 -55.44,-24.85075 -55.44,-55.44c0,-30.58925 24.85075,-55.44 55.44,-55.44zM86,57.46667c-15.73683,0 -28.53333,12.7965 -28.53333,28.53333c0,15.73683 12.7965,28.53333 28.53333,28.53333c15.73683,0 28.53333,-12.7965 28.53333,-28.53333c0,-15.73683 -12.7965,-28.53333 -28.53333,-28.53333z"></path>
          </g>
          </g>
      </svg>
      <!-- End of SVG design -->
      HaicaSecureEye
    </div>
  </div>
  
  <!-- Your sidebar navigation menu items go here -->
  
    <hr class="horizontal dark mt-0">
  
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link active" href="/Chanels">
            <div class="icon icon-shape border-radius-md text-center me-2 d-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#5F64F5" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
                <path d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zM13.991 3l.024.001a1.46 1.46 0 0 1 .538.143.757.757 0 0 1 .302.254c.067.1.145.277.145.602v5.991l-.001.024a1.464 1.464 0 0 1-.143.538.758.758 0 0 1-.254.302c-.1.067-.277.145-.602.145H2.009l-.024-.001a1.464 1.464 0 0 1-.538-.143.758.758 0 0 1-.302-.254C1.078 10.502 1 10.325 1 10V4.009l.001-.024a1.46 1.46 0 0 1 .143-.538.758.758 0 0 1 .254-.302C1.498 3.078 1.675 3 2 3h11.991zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z"/>
              </svg>
            </div>
            <span class="nav-link-text ms-0"style="font-size: 16px;">Chanels</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/radios">
            <div class="icon icon-shape border-radius-md text-center me-2 d-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#5F64F5" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
                <path d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 1 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM6 8a2 2 0 1 1 2.5 1.937V15.5a.5.5 0 0 1-1 0V9.937A2 2 0 0 1 6 8z"/>
              </svg>
            </div>
            <span class="nav-link-text ms-0"style="font-size: 16px;">Radios</span>
          </a>
        </li>

        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">-----------------------------------------------</h6>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="/logout">
            <div class="icon icon-shape border-radius-md text-center me-2 d-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#5F64F5" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
              </svg>
            </div>
            <span class="nav-link-text ms-0"style="font-size: 16px;">Log Out</span>
          </a>
          </li>

      </ul>
    
    
  </aside>